doctype
html(lang='en')
  head
    include ../includes/header.pug

    link(rel='stylesheet', href='/css/index.css')
  body
    .jumbotron.text-center.bg-transparent
      h1.display-3 401
      p.lead Planeta asta este foarte protejata.
        i.fas.fa-exclamation.pl-2
      a.btn.btn-dark(href='/') Intoarce-te acasa